body {

  background: url(img/dessert.jpg) no-repeat fixed;
  background: cover;
  background-color: black;

}

i {
  color: red;
}


img {
  width: 150px;

}

.h1 {
  background-color: rgb(6, 0, 0, 0.8); /*les 3 1er valeurs pour la couleur la dernier pour l'opacité */
  margin-right: 10px;
  margin-left: 10px;

}

.card:hover {

  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #F6EBE9;
  box-shadow: 0 0 0 0 #FD535B;
  animation: pulse 1.3s infinite;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 12px rgba(0, 0, 0, 0.01);
  }
}

.card {
  background-color:  rgb(6, 0, 0);
  /* filter: brightness(80%); */
  opacity: 0.9;
  color: white;
}

/*
.card:hover {
  margin-right: 10px;
  margin-left: 10px;
  animation: shake 0.9s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  border: 4px solid #F6EBE9;
  border-radius: 6px;

}

@keyframes shake {
  /* 10%, 90% {
  transform: translate3d(-1px, 0, 0);
} 
20%, 80% {
  transform: translate3d(2px, 0, 0);
}
30%, 50%, 70% {
  transform: translate3d(-4px, 0, 0);
}/*

  40%,
  60% {
    transform: translate3d(0, 5px, 0);
  }
}
*/



hr {
  background-color: grey;
}

.bg-light {
  background-color: rgb(6, 0, 0, 0.4) !important; /*les 3 1er valeurs pour la couleur la dernier pour l'opacité */
  
  
}


/*

.navbar {
left: 100px !important ;
right: 100px !important ;

font-weight: bold; 
position: fixed;
z-index: 5 !important ; 
top: 1.6%; 
font-size: 20px;
text-align: center;
box-shadow: 0 1px 3px black;
}

.navbar-light .navbar-toggler-icon {
background-color: #ffdead;
background-image: url(img/);
margin-right: -2px;
padding: 15px;
border: 2px solid #ffdead;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
}

.bg-light {
background-color: white !important;
border: 1px solid #ffdead;
box-shadow: 5px 5px 10px #000000;

border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
}

.navbar-brand img {

max-height: 40px;
}

*/